<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Rain Collection Calculator</div>
      <div class="card-body">

        <div class="mb-3">
          <label>Max Amount(l)</label>
          <input type="number" class="form-control" [(ngModel)]="maxAmount">
        </div>
        <div class="mb-3">
          <label>Speed(l/h)</label>
          <input type="number" class="form-control" [(ngModel)]="speed">
        </div>
        <div class="mb-3">
          <label>Time(hrs)</label>
          <input type="number" class="form-control" [(ngModel)]="time">
        </div>
        <button class="btn btn-success" [disabled]="maxAmount==null || speed==null" (click)="calculate()">Calculate</button>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Reservoir Fullness</div>
      <div class="card-body">
          <div *ngIf="fullness!=null">Amount full: {{fullness}}%</div>
          <div *ngIf="fullness==null"> Enter the required information</div>
          <div *ngIf="fullness!=null">
            <div *ngIf="fullness!<80">
              <div class="bg-success w-50">Your reservoir is within limit:)</div>
            </div>
            <div *ngIf="fullness==80 || fullness!>80 && fullness!<100">
              <div class="bg-warning w-50">Your reservoir is getting full!:/</div>
            </div>
            <div *ngIf="fullness==100 || fullness!>100">
              <div class="bg-danger w-50">Your reservoir is full!:(</div>
            </div>
          </div>




      </div>
    </div>
  </div>
</div>

